name: az-deploy
on:
  workflow_call:
    inputs:
      location:
        type: string
        description: 'Deployment location'
        required: true
      resource_group_name:
        type: string
        description: 'Resource group name'
        required: true
      enable_application_containers:
        type: boolean
        description: 'Enable application containers'
        required: false
        default: false
      enable_application_packages:
        type: boolean
        description: 'Enable application packages'
        required: false
        default: false
      deploy:
        type: boolean
        description: 'Deploy resources'
        required: false
        default: true
      cleanup:
        type: boolean
        description: 'Cleanup resources'
        required: false
        default: true
      config:
        type: string
        description: 'Name of configuration files to use'
        required: false
        default: 'DEFAULT'
  workflow_dispatch:
    # ensure inputs are same as workflow_call.inputs
    inputs:
      location:
        type: string
        description: 'Deployment location'
        required: true
      resource_group_name:
        type: string
        description: 'Resource group name'
        required: true
      enable_application_containers:
        type: boolean
        description: 'Enable application containers'
        required: false
        default: false
      enable_application_packages:
        type: boolean
        description: 'Enable application packages'
        required: false
        default: false
      deploy:
        type: boolean
        description: 'Deploy resources'
        required: false
        default: true
      cleanup:
        type: boolean
        description: 'Cleanup resources'
        required: false
        default: true
      config:
        type: choice
        description: 'Name of configuration files to use'
        required: false
        default: 'DEFAULT'
        options:
          - DEFAULT
          - azfinsim-linux
          - azfinsim-windows
permissions:
  # these are needed for azure login with OIDC
  contents: read
  id-token: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: azure
    outputs:
      AZ_SUFFIX: ${{ steps.az_build_name.outputs.AZ_SUFFIX }}
    steps:
      - name: Generate build name suffix
        id: az_build_name
        run: |
          suffix=""
          if [ "${{ inputs.enable_application_containers }}" == "true" ]; then
            suffix="$suffix+cntrs"
          else
            suffix="$suffix~cntrs"
          fi
          if [ "${{ inputs.enable_application_packages }}" == "true" ]; then
            suffix="$suffix+pkgs"
          else
            suffix="$suffix~pkgs"
          fi
          echo "AZ_SUFFIX=$suffix" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v3
        if: inputs.config != 'DEFAULT'
      - name: replace config with ${{ inputs.config }}
        if: inputs.config != 'DEFAULT' && inputs.deploy
        run: |
          cp $GITHUB_WORKSPACE/examples/${{ inputs.config }}/* $GITHUB_WORKSPACE/config/
      - uses: azure/login@v1
        if: inputs.deploy
        with:
          client-id: ${{ secrets.AZ_CLIENT_ID }}
          tenant-id: ${{ secrets.AZ_TENANT_ID }}
          subscription-id: ${{ secrets.AZ_SUBSCRIPTION_ID }}
      - uses: azure/arm-deploy@v1
        if: inputs.deploy
        with:
          scope: subscription
          subscriptionId: ${{ secrets.AZ_SUBSCRIPTION_ID }}
          region: ${{ inputs.location }}
          template: ./infrastructure.bicep
          deploymentName: dpl-${{ inputs.resource_group_name }}-${{ github.run_id }}
          parameters: batchServiceObjectId=${{ secrets.AZ_BATCH_SERVICE_OBJECT_ID }} resourceGroupName=${{ inputs.resource_group_name }} tags="{'github-action':'1', 'github-run-id':'${{ github.run_id }}'}" enableApplicationContainers=${{ inputs.enable_application_containers }} enableApplicationPackages=${{ inputs.enable_application_packages }}
      - name: show outputs
        if: inputs.deploy
        run: |
          az deployment sub show -n dpl-${{ inputs.resource_group_name }}-${{ github.run_id }} --query properties.outputs
  test:
    runs-on: ubuntu-latest
    environment: azure
    needs: deploy
    steps:
    - uses: actions/checkout@v3
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake
        cmake --version
    - name: Set up Python 3.8
      uses: actions/setup-python@v3
      with:
        python-version: "3.8"
    - name: Install CLI Python package
      run: |
        python3.8 -m pip install --upgrade pip
        python3.8 -m pip install ./cli
    - uses: azure/login@v1
      with:
        client-id: ${{ secrets.AZ_CLIENT_ID }}
        tenant-id: ${{ secrets.AZ_TENANT_ID }}
        subscription-id: ${{ secrets.AZ_SUBSCRIPTION_ID }}
    - name: Run tests
      env:
        SB_BUILD_NAME: ${{ github.run_id }}${{ needs.deploy.outputs.AZ_SUFFIX }}-${{ inputs.config }}
        SB_SITE_NAME: github-ubuntu
        SB_CONFIG: ${{ inputs.config }}
        SB_RESOURCE_GROUP_NAME: ${{ inputs.resource_group_name }}
        SB_SOURCE_DIR: ./tests
        SB_BINARY_DIR: ./build
        SB_SUBSCRIPTION_ID: ${{ secrets.AZ_SUBSCRIPTION_ID }}
      run: |
        ctest -V -S ./.github/ci.cmake
  cleanup:
    runs-on: ubuntu-latest
    environment: azure
    if: always() && inputs.cleanup
    needs: [deploy, test]
    steps:
      - uses: actions/checkout@v3
      - uses: azure/login@v1
        with:
          client-id: ${{ secrets.AZ_CLIENT_ID }}
          tenant-id: ${{ secrets.AZ_TENANT_ID }}
          subscription-id: ${{ secrets.AZ_SUBSCRIPTION_ID }}
      - name: cleanup
        run: |
          az group delete --yes --name '${{ inputs.resource_group_name }}'
